---
---
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font-family: 'PT Serif', serif;
  text-align: center;
}

@media all and (min-width: 960px) {
    body{
        font-size: 18px;
    }
}

@media all and (max-width: 959px) and (min-width: 600px) {
    body{
        font-size: 16px;
    }
}

@media all and (max-width: 599px) and (min-width: 320px) {
    body{
        font-size: 14px;
    }

}

h1 {
  color: #ff6600;
  font-size: 1.75em;
  font-family: 'Robato', sans-serif;
}

h2, h3 {
  font-size: 1.30em;
  font-family: 'Robato', sans-serif;
}

h4 {
  font-size: 1.20em;
  font-family: 'Robato', sans-serif;
}

p { margin: 1em 0; }

a         { color: #000; }
a:hover   { color: #222; }
a:visited { color: #000; }

ul  {list-style-position: inside;}

table,td,tr,th {
  padding:0px;
  border-collapse:collapse;
  text-align: left;
  font-weight : 400;
  font-size: 100%
  }

th {
  font-weight: 700;
}

tr {
  border-top:1px solid #eee;
  border-bottom:1px solid #eee;
}

td.year{
  font-weight: 700;
  width: 4em;
}

td.date{
  font-weight: 700;
  width: 7em;
}

td.route{
  width: 20em;
}

td.grade{
  width: 8em;
}

td.event{
  width: 14em;
}

td.role{
  width: 18em;
}

div {
  overflow: scroll;
}

div.project{
  border-bottom:1px solid #eee;
  float: left;
  width: 100%;
  padding: 0px 10px 10px;
  margin-bottom: 10px;
  }

div.project img{
  width: 30%;
  float:left;
  margin-right: 1em;
  border: solid 1px #000;
}

div.resource{
  padding: 5px;
}

div.resource  h2{
  display: inline;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  text-align: left;
  max-width: 40em;
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
}


.header {
  margin-bottom: 1em;
  overflow: hidden;

  .logo {
    height: 32px;
    float: left;
    margin-right: 1em;
  }

  .headerlinks {
    font-family: 'Robato', sans-serif;
    border-bottom: 4px solid #eee;
    height: 28px;  // logo height = border width + headerlinks height

    a {
      font-weight: bold;
      vertical-align: sub;
      text-decoration: none;
    }

    a.extra {
      color: #aaa;
      margin-left: 1em;
    }

    a.extra:hover {
      color: #000;
    }
  }
}


.footer {
  font-family: 'Robato', sans-serif;
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  padding-top: 1em;
  display: flex;
  flex-direction: row;

  a {
    color: #000;
  }

  .contact {
    float: left;
    margin-right: 2em;
  }

  .contact-right {
    float: right;
    margin-left: 2em;
    text-align: right;
  }

  #mc_embed_signup {
    margin-left: 0;
    margin-right: auto;
    display: inline-block;
    font-family: 'Robato', sans-serif;
    color: #666;

    label { display:block; color: #000; font-weight:bold; }
    .mc-field-group { display: inline-block; }


    input {
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      border: 1px solid #ddd;
      padding: 2px;
      font-family: 'Robato', sans-serif;
      font-size: 100%;
      color: #666;
    }

    input#mce-EMAIL {
      min-width: 15em;
    }
    input#mce-EMAIL:focus { border-color:#333; }

    #mce-responses {
      text-align: left;
    }

    input#mc-embedded-subscribe {
      margin-left: 2px;
    }

    input#mc-embedded-subscribe:hover { cursor:pointer; }
    #mce-error-response { display:none;}
    #mce-success-response { display:none; color:#529214; }
  }
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.meta {
  font-family: 'Robato', sans-serif;
  color: #aaa;
}

// common code formatting
pre {
  margin: 1em 0em;
  padding: 5px;
  border: 1px solid #cfcfcf;
  border-radius: 2px;
  background: #f7f7f7;
  overflow: scroll;
}


code {
  background: #f7f7f7;
}

p code {
  padding: 1px 5px;
}

.post {
  list-style-type: none;
  margin-bottom: 2em;
  width: 100%;

  p {text-align: left;}

  li {
    line-height: 1.75em;
  }

  span {
    color: #aaa;
  }

  ul, ol {
    margin-left: 1.5em;
    list-style-position: outside;
  }

  /* terminal */
  pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
  }

  pre.terminal code {
    background-color: #333;
  }

  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }
}

/*****************************************************************************/
/*
/* NB Posts
/*
/*****************************************************************************/

.nb_post {

  table {
    padding: 0; }
    table tr {
      border-top: 1px solid #cccccc;
      background-color: white;
      margin: 0;
      padding: 0; }
      table tr:nth-child(2n) {
        background-color: #f8f8f8; }
        table tr th {
        font-weight: bold;
        border: 1px solid #cccccc;
        text-align: left;
        margin: 0;
        padding: 6px 13px; }
      table tr td {
        border: 1px solid #cccccc;
        text-align: left;
        margin: 0;
        padding: 6px 13px; }
      table tr th :first-child, table tr td :first-child {
        margin-top: 0; }
      table tr th :last-child, table tr td :last-child {
  margin-bottom: 0; }


  em {font-style: italic;}
  strong {font-weight: bold;}
  u {text-decoration: underline;}
  :link {text-decoration: underline;}
  :visited {text-decoration: underline;}

  // For a 14px base font size this goes as:
  // font-size = 26, 22, 18, 14, 12, 12
  // margin-top = 14, 14, 14, 14, 8, 8
  h1 {font-size: 185.7%; margin: 1.08em 0 0 0; font-weight: bold; line-height: 1.0;}
  h2 {font-size: 157.1%; margin: 1.27em 0 0 0; font-weight: bold; line-height: 1.0;}
  h3 {font-size: 128.6%; margin: 1.55em 0 0 0; font-weight: bold; line-height: 1.0;}
  h4 {font-size: 100%; margin: 2em 0 0 0; font-weight: bold; line-height: 1.0;}
  h5 {font-size: 100%; margin: 2em 0 0 0; font-weight: bold; line-height: 1.0; font-style: italic;}
  h6 {font-size: 100%; margin: 2em 0 0 0; font-weight: bold; line-height: 1.0; font-style: italic;}

  // Reduce the top margins by 14px compared to above
  h1:first-child {margin-top: 0.538em;}
  h2:first-child {margin-top: 0.636em;}
  h3:first-child {margin-top: 0.777em;}
  h4:first-child {margin-top: 1em;}
  h5:first-child {margin-top: 1em;}
  h6:first-child {margin-top: 1em;}

  ul:not(.list-inline),
  ol:not(.list-inline) {padding-left: 2em;}
  ul {list-style:disc;}
  ul ul {
    list-style:square;
    margin-top: 0;
  }
  ul ul ul {list-style:circle;}
  ol {list-style:decimal;}
  ol ol {
    list-style:upper-alpha;
    margin-top: 0;
  }
  ol ol ol {list-style:lower-alpha; }
  ol ol ol ol {list-style:lower-roman; }
  /* any extras will just be numbers: */
  ol ol ol ol ol {list-style:decimal;}
  * + ul {margin-top: 1em;}
  * + ol {margin-top: 1em;}

  hr {
    color: #ffffff; //@rendered_html_border_color;
    background-color: #ffffff;//@rendered_html_border_color;
  }

  blockquote {margin: 1em 2em;}

  p {text-align: left;}
  * + p {margin-top: 1em;}

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  * + img {margin-top: 1em;}

  img, svg {
    max-width: 100%;
    height: auto;
    &.unconfined {
      max-width: none;
    }
  }
}
