<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="Kao">
        <meta name="keywords" content="zckao, zichongkao, kaozichong, kao, zi, chong, data science, sailing, analytics, uchicago">

        <title>{{ page.title }} | ZC Kao</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" type="text/css" href="/css/syntax.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="shortcut icon" type="image/x-icon" href="{{site.url}}/favicon.ico">
        <!-- thanks to https://favicon.io/ -->

        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
        <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js" async></script>
        <script async>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-46601509-1', 'kaomorphism.com');
          ga('send', 'pageview');
        </script>

    </head>
    <body>

        <div class="site">
          <div class="header">
            <a href="/"><img class="logo" src="/pics/logo.jpg" alt="kaomorphism logo"></a>
            <div class="headerlinks">
              <a class="extra" href="/index.html">about</a>
              <a class="extra" href="/writing.html">writing</a>
              <a class="extra" href="https://www.mountainproject.com/user/200335455/zi-chong-kao">climbing</a>
              <a class="extra" href="/sailing.html">sailing</a>
            </div>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
                Zi Chong Kao<br />
                <a href="mailto:zichongkao+web@gmail.com">zichongkao@gmail.com</a><br />
                    <br />
            </div>
            <div id="mc_embed_signup">
              <form action="https://kaomorphism.us19.list-manage.com/subscribe/post?u=5b6639b2e5d0c7cff6114006d&amp;id=1dcbd47af2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll">
                    <div class="mc-field-group">
                      <label for="mce-EMAIL">Want monthly updates?</label>
                      <input type="email" value="Email address" name="EMAIL" class="required email" id="mce-EMAIL" onclick="this.select();"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                    </div>
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5b6639b2e5d0c7cff6114006d_1dcbd47af2" tabindex="-1" value=""></div>
                    <div id="mce-responses">
                      <div class="response" id="mce-error-response" style="display:none"></div>
                      <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  </div>
              </form>
            </div>
            <div class="contact-right">
                Generated by <a href="https://jekyllrb.com/">Jekyll</a><br/>
                Hosted on <a href="https://github.com/zichongkao/zichongkao.github.io">Github</a><br/>
            </div>
          </div>
        </div>

    </body>
</html>

